<footer class="footer_area footer_area_3 fix mt-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12">
                    <div class="company__info wow fadeInUp " data-wow-duration=".5s" data-wow-delay=".3s">
                        <a href="index.html"> <h3 class="f-title">WISDOM</h3></a>
                        <p>Wisdom is an online bookstore.</p>
                    </div>

                    <div class="footer__bottom border-top-0 wow fadeInUp " data-wow-duration=".5s" data-wow-delay=".5s">
                        <p>Copyright © <span>Wisdom Store</span> All Rights Reserved.</p>
                    </div>
                </div>
                
                
                <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6">
                    <div class="company__info  wow fadeInUp " data-wow-duration=".5s" data-wow-delay=".9s">
                        <h3 class="f-title">social</h3>
                        <ul>
                            <li><a class="text-white" href="#">Facebook</a></li>
                            <li><a class="text-white" href="#">Twitter</a></li>
                            <li><a class="text-white" href="#">LinkedIn</a></li>
                            <li><a class="text-white" href="#">Instagram</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6">
                    <div class="company__info  wow fadeInUp " data-wow-duration=".5s" data-wow-delay=".9s">
                        <h3 class="f-title">More</h3>
                        <ul>
                            <li><a class="text-white" href="#">Contact Us</a></li>
                            <li><a class="text-white" href="#">Report</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>