<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A0937D;">
  <a class="navbar-brand text-white" href="/">Shopping cart</a>


  <div class="" id="navbarSupportedContent">
    {{!-- <ul class="navbar-nav mr-auto">
      {{#if user}}
      <li class="nav-item">
        <a class="nav-link text-white" href="/account">Account</a>
      </li>

    </ul>
    {{/if}}
  </div> --}}
</nav>