body{
  margin: 0;
}
.header-login{
  width: 100%;
  height: 100px;
  background-color: black;
  padding-top: 2%;
  
  
}
.header-login h1{
  color: #fff;
}
.header-login h4{ 
  color: #fff;
}
.header-login p{
  color: white;
  margin-left: 5%;
}

.login_wrapper{
  margin-top: 100px;
}
.reg{
  text-align: right;
}
.error{
  color: red;
}
.page-align{
  position: relative;
  margin-left: 25%;
  margin-top: 10%;
}
.book-image{
  width: 100px;
  height: auto;
}
#get-book:hover{
  cursor: pointer;
}
.nav-category{
  margin-left: 10%;
}
.card-body img{
  width: 200px;
}
.btns{
  float: right;
}
.return-add-category{
  text-decoration: none;
  color: rgb(115, 115, 115);
  font-size: smaller;
}
.user-page-align{
  margin-top: 20%;
}

.full-view{
  margin-left: 25%;
  width: 400px;
}
#cart{
  z-index: -1;
}
.middle-title{
  color: white;
  max-width: 750px;
  margin-left: 19%;
  margin-top: 15%;
}
.btn-dpn{
  background-color: transparent;
  border: none;
}
.heading{
  text-align: center;
  margin-top: 5%;
}
.cart-heading{
  text-align: center;
  padding-top: 30%;

}
.cart-heading h1{
  color: white;
  font-weight: bolder;
  font-size: 70px;
}
.page-name{
  text-align: center;
  padding-top: 25%;
}
.page-name h1{
  font-weight: 900;
  color: white;
  font-size: 70px;
}
.cart-text{
  max-height: 400px;
  overflow-y: scroll;

}