<div class="page-align" id="footer">
    <div class="card">
        <div class="card-header">Banners</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="../banners/{{response.left}}.jpg" alt="left">
                    <p>Left side banner</p>
                </div>
                <div class="col-md-4">
                    <img src="../banners/{{response.middle}}.jpg" alt="left">
                    <p>Middle banner</p>
                </div>
                <div class="col-md-4">
                    <img src="../banners/{{response.right}}.jpg" alt="left">
                    <p>Right side banner</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
           <a href="/admin/edit-banner">
             <button class="btn btn-secondary">Edit</button>
           </a>
        </div>
    </div>
</div>