<div class="page-align" id="footer">
    <form action="/admin/banner-submit" method="post" enctype="multipart/form-data">
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Left Banner</label>
            <div class="col-sm-10">
                <input type="file" class="form-control" name="left" id="inputText">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Middle Banner</label>
            <div class="col-sm-10">
                <input type="file" class="form-control" name="middle" id="inputEmail">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Right Banner</label>
            <div class="col-sm-10">
                <input type="file" class="form-control" name="right" id="inputPassword">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </form>

</div>